@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Hahmlet:wght@100;200&family=JetBrains+Mono:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', sans-serif;
    background-color: #ff6701;
    scrollbar-color: aquamarine #ff5621; 
}


.icon {
    display: flex;
    border-radius: 2px;
}

.iframee {
    text-align: center;
    padding: 22px;
}

.iframee iframe {
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    background-color: #0f8cf0;
}

.nav-bar {
    width: 100%;
    top: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: aquamarine;
    overflow: hidden;
    z-index: 10000;
}

.nav-link {
    margin: 0;
    font-size: 14px;
    background-color: #ff6701;
    border-color: rgb(0, 0, 0);
}

button {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    border-color: #0f8cf0;
    border-width: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0f8cf0;
    transition: background-color 1s;
}

.nav-bar ul {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    margin-right: 250px;
    background-color: aquamarine;
    border-radius: 22px;
  
}

.logo {
    width: 100px;
    margin-left: 250px;
    padding: 3px;
    border-radius: 5px;
    background-color: #0f8cf0;
}

#hero {
    margin-top: 200px;
    text-align: center;
}

#submit {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    border-color: #0f8cf0;
    border-width: 3px;
    cursor: pointer;
}

#submit:hover {
    background-color: #0f8cf0;
    transition: background-color 1s;
}

#email {
    background-color: rgb(224, 219, 219);
    width: 250px;
    border-radius: 5px;
}

.form {
    padding: 20px;
}

.ceva {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.moreinfo {
    margin-top: 2px;
    margin: 50px;
    border: 0 solid #333;
    background-color: #e00b0b;
}

p {
    padding-left: 15px;
    text-align: left;
}

.moreinfoelem1 {
    width: 900px;
    height: auto;
    display: flex;
}

.moreinfoelem2 {
    width: 900px;
    height: auto;
    display: flex;
}

.moreinfoelem3 {
    width: 900px;
    height: auto;
    display: flex;
}

.oilchange {
    width: 150px;
}

/* .quality {
    width: 900px;
    height: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;  
    background-color: #e00b0b;
} */

.pricing {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 33px;
}

.pricing-item {
    margin-top: 1px;
    margin: 10px;
    border: 1px solid #333;
    background-color: #0f8cf0;
    border-radius: 5px;
}

.pricing-elem1 {
    width: 400px;
    height: auto;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.pricing-elem2 {
    width: 400px;
    height: auto;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.pricing-elem3 {
    width: 400px;
    height: auto;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.pricing ul{
    list-style: none;
}

.btn {
    padding: 5px;
    width: 97px;
    padding-bottom: 2px;
    background-color: #ff6701;;
    cursor: pointer;
}
.btn:hover {
    background-color: #0f8cf0;
    transition: background-color 1s;
}

.footer .row {
    display: flex;
    justify-content: end;
    flex-direction: row;
    background-color: #25be72;
}

.footer .row ul {
    display: flex;
}

.footer .row ul li {
    list-style: none;
    background-color: #25be72;
}

.footer .row ul a {
    text-decoration: none;
    font-size: 14;
    margin-right: 25px;
    color: #ffffff;
    background-color: #25be72;
}